<h2>Dapp Library</h2>
<span><%= link "New Dapp", to: dapp_path(@conn, :new) %></span>
<div class="dapp-library">
  <%= for dapp <- @dapps do %>
      <div class="dapp-item">
        <%= img_tag dapp.cover, alt: dapp.name, class: "dapp-cover" %>
        <%= link dapp.name, to: dapp_path(@conn, :show, dapp), class: "dapp-title" %>
      </div>
  <% end %>
</div>
